# requirements.txt

streamlit
langchain
langchain-core
fastapi
# The missing library that provides FAISS, PyPDFLoader, etc.
langchain-community

langchain-google-genai
unstructured[docx]
pypdf
python-dotenv
uvicorn[standard]
requests
faiss-cpu
