# requirements.txt - Final for Streamlit with FAISS
fastapi
streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
unstructured[docx]
pypdf
python-dotenv
requests
faiss-cpu
uvicorn
